!--- Xterm Settings ---
XTerm.termName: xterm-256color

XTerm*faceName: Iosevka Nerd Font Mono
XTerm*faceSize: 10
XTerm*renderFont: true

!--- URxvt Settings ---

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.font: xft:Iosevka Nerd Font Mono:size=9:style=Bold
URxvt.scrollBar: false
*.internalBorder: 10

!--- Transparency ---

!URxvt*transparent: true
!shading: 0 to 99 darkens, 101 to 200 lightens
!URxvt*shading: 20

!--- Theme ---

! Select nord or night-owl. Nord is the default.
#include ".Xresources.d/nord"
!#include ".Xresources.d/night-owl"
